* {
  list-style: none;
  text-decoration: none;
  margin: 0;
}
body,
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav {
  background-color: #f6f6f6;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.nav__items {
  display: flex;
}

.nav__item {
  margin-left: 2rem;
  font-size: 1rem;
}
